{% extends 'loginBase.html.twig' %}

{% block body %}
    <section class="mt-md-5">
        <div class="container h-custom">
            <div class="row justify-content-center align-items-center m">
                <div class="col-md-6 col-lg-5 col-xl-4 p-md-5 login-box">
                    <p class="login-header">{{ 'user.login'|trans }}</p>

                    {{ form_start(loginForm) }}
                    <div class="form-outline mb-4">
                        <div class="input-group mb-3">
                            {{ form_widget(loginForm.username) }}
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>

                    </div>
                    <div class="form-outline mb-3">
                        <div class="input-group mb-3">
                            {{ form_widget(loginForm.password) }}
                            <span class="input-group-text" id="basic-addon2">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>

                    {% for flash_message in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger mt-2">
                            {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flash_message }}
                        </div>
                    {% endfor %}

                    <div class="text-center text-lg-start mt-4 pt-2">
                        {{ form_row(loginForm.save) }}
                    </div>
                    {{ form_rest(loginForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
